<!DOCTYPE html>
<html lang="it">
<head>
    <title>Urbanoo</title>
    
    <meta charset="utf-8">
    <meta name="description" content="Trova la casa dei tuoi sogni. Appartamenti, Ville e Loft moderni.">
    <meta name="keywords" content="agenzia immobiliare, appartamenti, ville, loft, urbanoo, proprietà, vendita case">
    <link rel="stylesheet" href="styles/style.css" media="screen">
    <link rel="stylesheet" href="mini.css" media="screen and (max-width:768px)">
    <link rel="stylesheet" href="print.css" media="print">

</head>
<body>
    <header>
        <h1><span lang="en">URBANOO</span> Agenzia Immobiliare</h1>
        <h2>Trova la casa dei tuoi sogni</h2>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Chi Siamo</a></li>
                <li><a href="#">Proprietà</a></li>
                <li><a href="#">Contatti</a></li>
                <li><a href="#"><img src="" alt="profilo utente"></a></li>
                <li><a href="#"><img src="" alt="cerca"></a></li>
            </ul>
        </nav>
    </header>

    <main>
        
    </main>
    <footer>
        <p>&copy; 2025 Urbanoo: Agenzia Immobiliare. P.IVA 1234567890. Tutti i diritti sono riservati</p>
    </footer>
    <!-- <footer>
        <div class="footercontent">
                <ul>
                    <li>Telefono: <a href="tel:+390437931949">0437 931949</a></li>
                    <li><span lang="en">Email: </span><a href="mailto:info@bonaegava.com">info@bonaegava.com</a></li>
                    <li>Indirizzo: <a href="https://www.google.it/maps/place/Via+Caduti+14+Settembre+1944,+51,+32100+Belluno+BL">Via Caduti 14 Settembre 1944 <abbr title="numero">n.</abbr>&nbsp;51 32100 Belluno</a></li>
					<li><a href="https://www.iubenda.com/privacy-policy/29045823" class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe" title="Privacy Policy ">Privacy Policy</a></li>
                    <li>Informazioni legali: Urbanoo s.r.l - P.IVA 1234567890</li>
                </ul>
        </div>
    </footer> -->
</body>
</html>