<!DOCTYPE html>
<html lang="it">
<head>
    <title>Urbanoo</title>
    
    <meta charset="utf-8">
    <meta name="description" content="Trova la casa dei tuoi sogni. Appartamenti, Ville e Loft moderni.">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="styles/style.css" media="screen">
    <link rel="stylesheet" href="mini.css" media="screen and (max-width:800px)">
    <link rel="stylesheet" href="print.css" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <header>

        <h1><span lang="en">URBANOO</span> Agenzia Immobiliare</h1>
        <h2>Trova la casa dei tuoi sogni</h2>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Vendita</a></li>
                <li><a href="#">Affitto</a></li>
                <li><a href="#">Contatti</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
    </main>

    <footer>
        <div class="footercontent">
                <ul>
                    <li>Telefono: <a href="tel:+390437931949">0437 931949</a></li>
                    <li><span lang="en">Email: </span><a href="mailto:info@bonaegava.com">info@bonaegava.com</a></li>
                    <li>Indirizzo: <a href="https://www.google.it/maps/place/Via+Caduti+14+Settembre+1944,+51,+32100+Belluno+BL">Via Caduti 14 Settembre 1944 <abbr title="numero">n.</abbr>&nbsp;51 32100 Belluno</a></li>
					<li><a href="https://www.iubenda.com/privacy-policy/29045823" class="iubenda-nostyle no-brand iubenda-noiframe iubenda-embed iubenda-noiframe" title="Privacy Policy ">Privacy Policy</a></li>
                    <li>Informazioni legali: Urbanoo s.r.l - P.IVA 1234567890</li>
                </ul>
        </div>
    </footer>
</body>
</html>