DirectoryIndex index.php

ErrorDocument 403 /nlattanz/php/403.php

ErrorDocument 404 /nlattanz/php/404.php

ErrorDocument 500 /nlattanz/php/500.php
ErrorDocument 501 /nlattanz/php/500.php
ErrorDocument 502 /nlattanz/php/500.php
ErrorDocument 503 /nlattanz/php/500.php
ErrorDocument 504 /nlattanz/php/500.php
ErrorDocument 505 /nlattanz/php/500.php
ErrorDocument 507 /nlattanz/php/500.php