* {
    box-shadow: none !important;
    /*-webkit-print-color-adjust: exact;    /* Webkit based browsers */
    /*print-color-adjust: exact;            /* Standard property */
    padding: 0em;
    margin: 0em;
}

html, body{
    font-family: "Times New Roman", Times, serif;
    font-size:12pt;
    margin: auto;
}

header{
    padding: 0em 1em;
    text-align: center;
    margin: 1em;
}

header h1{
    margin: auto;
    content: url('../img/logoUrbanoo.png');
    height: 3cm;
}

#menu {
    display: none;
}

.navigationHelp{
    display: none;
}

.intro{
    margin: 1em;
}

.intro h1{
    margin-bottom: 0.5em;
    text-align: center;
}

.intro h2{
    margin-top: 1em;
    text-align: center;
}

.goback,
.carousel_next,
.carousel_prev,
.carousel_dots{
    display: none;
}

.carousel_viewport img {
    width: 100%;
    border-radius: 8px;
}

/*a:link:after, a:visited:after {
    content: " [" attr(href) "] ";
    font-size:90%;
}*/

.carousel_slide a:after{
    display: none;
}

#services {
    margin-top: 4.5cm;
}

#services .item-services {
    page-break-inside: avoid;
    display: block; /* Più sicuro del grid/flex per la stampa */
    margin-bottom: 2cm;
    border: 2px solid black;
    border-radius: 10px;
    padding: 1cm;
}

#services .item-services dt{
    text-align: center;
    margin-bottom: 0.2cm;
    font-size: 0.5cm;
}

#services .item-services p{
    margin-top: 0.5cm;
}

#services dd img {
    width: 1.5cm; /* Dimensione fissa per le icone in stampa */
    float: left;
    margin-right: 1cm;
}

footer {
    margin-top: 2cm;
    text-align: center;
}

.team-grid {
    margin-top: 0.5cm;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5cm, 1fr));
    gap: 10px;
}

.team-card {
    page-break-inside: avoid;
    width: 5.5cm;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.2cm;
    text-align: center;
}

.team-card .team-name{
    font-weight: bold;
    /*text-align: center;*/
}

.team-card .role{
    color: #9F741E;
    /*text-align: center;*/
}

.team-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

#filters {
    display: none;
} 

.admin-controls, .btn-view, .btn-mod, .btn-del {
    display: none;
}

#typologies h2 {
    text-align: center;
}

#typologies dt {
    font-weight: bold;
    margin-top: 0.3cm;
}

#typologies dd {
    border-bottom: #9F741E 1px solid;
}

#property-list h2 {
    text-align: center;
    margin-bottom: 0.2cm;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8cm, 1fr));
    gap: 10px;
}

.property-grid img{
    width: 100%;
    height: 4cm;
    border-radius: 10px;
    object-fit: cover;
    text-align: center;
}

.property-card {
    page-break-inside: avoid;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.2cm;
}

.property-card h3{
    text-align: center;
    margin-bottom: 0.2cm;
    border-bottom: #9F741E 2px solid;
}

.property-card .property-details{
    text-align: center;
    margin-top: 0.2cm;
}

.contacts{
    text-align: center;
    margin-top: 0.2cm;
}

.contacts h1{
    margin-bottom: 0.2cm;
}

.contact-item{
    display: flex;
    justify-content: center;
    gap: 1.2em;
    flex-wrap: wrap;
    margin: 1em 0;
    
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    padding: 0.2cm;
}

.contacts a{
    text-decoration: none;
    color: black;
}

.contact p{
    font-weight: bold;
}

.form{
    margin: auto;
    width: 50%;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 0.5cm;
    padding: 0.2cm;
}

.form h2{
    text-align: center;
    margin-bottom: 0.2cm;
    border-bottom: #9F741E 2px solid;
}

.form p{
    margin-bottom: 0.1cm;
}

.form label{
    font-weight: bold;
}

.form input, .form textarea, .form select {
    width: 95%;
    margin-bottom: 0.3cm;
    padding: 0.2cm;
    border: 1px solid black;
    border-radius: 5px;
}

.form button{
    display: block;
    margin: auto;
    padding: 0.1cm;
    border: 1px solid #9F741E;
    border-radius: 8px;
    font-size: 0.5cm;
}

.error-container{
    margin: 0.5cm;
}

.error-container{
    margin-bottom: 0.2cm;
    text-align: center;
}

.error-container img{
    width: 5cm;
    margin: 0.5cm;
}