 /* --- RESET E VARIABILI --- */
:root {
    --navy-blue: #0F253A;
    --mustard-gold: #D69E2E;
    --mustard-hover: #b58322;
    --white: #FFFFFF;
    --gray-light: #F4F6F8;
    --text-dark: #1A202C;
    --text-gray: #718096;
    --border-color: #E2E8F0;
    --error-color: #DA190B;
}

/* * { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body { 
    font-family: 'Lexend', sans-serif; 
    background-color: var(--gray-light); 
    color: var(--text-dark); 
    line-height: 1.6; 
}

a { 
    text-decoration: none; 
    color: inherit; 
    transition: 0.3s; 
}
ul { 
    list-style: none; 
}

select, input { 
    font-family: 'Lexend', sans-serif; 
} */

/*
--- HEADER --- SISTEMA
*/

/*

Con questo sparisce il logo urbanoo in alto a sinistra
header {
    background-color: var(--white);
    padding: 1rem 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    top: 0;
    z-index: 1000;
}
*/
header h1{
    background-image: url("../img/logoUrbanoo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    text-indent: -9999em;
    font-size: 6em;
    line-height: 1.5em;
    margin-top: 0.3em;
}

/* 
--- FOOTER
*/
footer { 
    background-color: var(--navy-blue); 
    color: var(--white); 
    text-align: center; 
    padding: 30px; 
    margin-top: 60px; 
}


/* 
    PARTE SPOSTATA
*/
.profile-btn {
    display: inline-block;    /* per dargli dimensioni */
    width: 32px;
    height: 32px;
    background-image: url("../img/user.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999px; /* nasconde il testo */
}

.search-btn {
    display: inline-block;    /* per dargli dimensioni */
    width: 32px;
    height: 32px;
    background-image: url("../img/searchicon.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    text-indent: -9999px; /* nasconde il testo */
}

 .error-container {
     background-color: var(--text-dark);
     color: var(--white);
     text-align: center;
     padding: 1em;
     margin-top: 0.5em;
     max-width: 600px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 0.5em;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
 }
 #error-color{
     color: var(--error-color);
 }

 .btn-error{
     background-color: var(--bgcolor);
     border-color: var(--white);
     text-decoration: none;
     border: 2px solid var(--white);
     border-radius: 25px;
     color: var(--white);
     cursor: pointer;
     padding: .3em 1em;
 }
 .btn-error:hover {
     background-color: var(--error-color);
     transition: 0.4s;
 }

/*#error-actions{
    text-align: center;
} Ancora da capire se serve*/

 .form-container {
     padding: 1em;
     margin-top: 0.5em;
     max-width: 850px;
     margin-left: auto;
     margin-right: auto;
     border-radius: 0.5em;
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     border-radius: 0.75rem;
     background-color: var(--navy-blue);
     padding: 2rem;
     color: var(--white);
     text-align: left;
 }

 .title {
     text-align: center;
     font-size: 1.5rem;
     line-height: 2rem;
     font-weight: 700;
 }

 .input-group {
     margin-top: 0.25rem;
     margin-right: 3em;
     font-size: 0.875rem;
     line-height: 1.25rem;
 }

 .input-group label {
     display: block;
     color: var(--white);
     margin-bottom: 4px;
 }

 .input-group input,
 .input-group textarea,
 .input-group select {
     box-sizing: border-box;
     width: 100%;
     border-radius: 0.375rem;
     border: 1px solid rgba(55, 65, 81, 1);
     outline: 0;
     background-color: rgba(17, 24, 39, 1);
     padding: 0.75rem 1rem;
     color: rgba(243, 244, 246, 1);
 }

 .input-group input:focus,
 .input-group textarea:focus,
 .input-group select:focus {
     border-color: rgba(167, 139, 250);
 }





